# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#

# before install python dependencies, you need the ppa ubuntugis activated and some libraries installed on your os:
# python-setuptools, python-pip, python-dev, python-tk, python-gdal, python-software-properties

# via pypi
gisdata
