# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#


# basics
setuptools
wheel

# XML parsing
lxml==4.2.5

# command-line
Click==7.0

# utils
arrow==0.12.*
python-dateutil==2.7.5

# dev
autopep8==1.4.3
codecov==2.0.15
pylint==1.9.3
