-i https://pypi.org/simple

# Common requirements
# -----------------------

pip
setuptools
wheel

# Project requirements
# -----------------------
lxml==4.4.*  # XML parsing
python-dotenv

# command-line
Click==7.*

# utils
arrow==0.14.*

# Dev requirements
# -----------------------
black
flake8
pre-commit
pylint
pytest-cov
sphinx
