# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#


# doc
sphinx==1.8.*

# code art
autopep8==1.4.*
codecov==2.0.*
pylint==1.9.*
